@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="field"></div>
    <h1>PP Fantasy Sports</h1>
    <p class="field-Text" style="font:700">Come Join in on the Fantasy Action! Create Your Postseason Player's Pool Today!!!</p>
    <div>@Html.ActionLink("Get Started", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-lg" })</div>
</div>


<div class="row mx-auto">
    <div class="dropdown-inline my-home-boxes p-3">
        <h3>Create Leagues</h3>
        <p class="text-blueSummer">
            Continue the fantasy experience after the season is done by creating leagues for the post season. Leagues consist of 6 teams fighting it out for post season supremacy.
        </p>
        <p>@Html.ActionLink("Manage Leagues", "createLeagues", "Leagues", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })</p>
    </div>
    <div class="dropdown-inline my-home-boxes p-3">
        <h3>Manage Teams</h3>
        <p class="text-blueSummer">Create your team and select from the pool of postseason players. Draft players and accumulate points with players and see which team is left standing. </p>
        <p>@Html.ActionLink("View Teams", "createTeams", "Leagues", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })</p>
    </div>
    <div class="dropdown-inline my-home-boxes p-3">
        <h3>View Team Scores</h3>
        <p class="text-blueSummer">View real time scoring to bring a new level of intrigue to the postseason.</p>
    </div>
</div>